.fondo{
      background: url("https://ae01.alicdn.com/kf/HTB1b6TYSXXXXXX0XVXXq6xXFXXXh/10x10-pies-Dim-gris-tablones-de-madera-textura-de-madera-oscura-pared-personalizada-estudio-de-fotograf.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color:white;
}
.font{
    font-family:Copperplate Gothic Light;
}
.mesas{
    background: url("https://i.pinimg.com/736x/d9/0f/8c/d90f8cd2cced0ae3ac2637a35f15159b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 0px;
    outline: 5px ridge #5B5154;
    outline-offset: 0px;
   }


.borde{
background: url("https://i.pinimg.com/736x/d9/0f/8c/d90f8cd2cced0ae3ac2637a35f15159b.jpg");
border: 8px inset #5B5154;
border-radius: 1px;
outline: 3px ridge #5B5154;
outline-offset: 0px;
}

     

.lista{
    background: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-black-hand-drawn-menu-background-picture-backgroundmenubackgroundgreenmenulayeringmenu-recipeadvertising-design-image_87621.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    color:white;

}
.abajo{
    position: absolute;
    margin-left:127px;
    bottom:0;
    
}
.boton {
	box-shadow:inset 0px 0px 4px -1px #dee0a6;
	background-color:#141111;
	border-radius:6px;
	border:4px solid #bdae06;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	padding:9px 16px;
	text-decoration:none;
	
}
.boton:hover {
	background-color:#141111;
    border-color:goldenrod;
}
.boton:active {
	position:relative;
	top:1px;
    border-color: goldenrod;
}
.boton:focus{
    color:white;
    background-color: none;
    border-color:goldenrod;
}




/* https://image.freepik.com/vector-gratis/vector-fondo-blanco-madera_119523-22.jpg */